.LCW_container {
display: flex;
flex-direction: column;
width: 90%;
margin-left: 1rem;
margin-bottom: 1rem;
background: whitesmoke;
font-weight: bold;
}

.LCW_label {
margin: 1rem 1rem 1rem 1rem;
}
.LCW_select {
margin-left: 1rem;
}