.container {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 1rem 1rem 1rem 1rem;
    padding-bottom: 2rem;
    background: whitesmoke;
    width: 90%;
    height: auto;

}
.pa_label {
    
    margin: 1rem 1rem 1rem 1rem;


}
.pa_select {
    margin: 1rem 1rem 1rem 1rem;
}
.age_warning {
    color: red;
    margin-left: 1rem
}



