.component_container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    padding-top: 2rem;
    column-gap: 1rem;
    column-count: 1;
    Width: 25rem;
    height: fit-content;
    background: rgb(180, 212, 212);
    border-radius: 2%;

}





.localstatelog_container {
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 3rem;
    width: 90%;
    height: 5rem;
}
.stateLabel {
    display: flex;

}

.stateP {
    color: red
}