.header {
    width: 100%;
    background: rgb(180, 212, 212);
    text-align: center;
    
}
.header h1 {
    margin-left: 3rem;
}


.form_container_row {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 1rem 1rem;
 
    Width: 25rem;
    row-gap: 2rem;
    height: fit-content;
    background: rgb(180, 212, 212);
    
    border: 2px solid black;
    border-radius: 2%;
}


.form_container_column {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 30rem;
}


    
    
    
    



/*=================children======================*/

.UC_form_children {
    
        display: flexbox;
        flex-direction: column;
        margin: 1rem 1rem 1rem 1rem;
       
        column-gap: 1rem;
        column-count: 1;
        Width: 25rem;
        height: auto;
        background: rgb(180, 212, 212);
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: inset;
        
        
        
        
    }
    
    
    .UC_form_children label {
        
        color: black;
        font-weight: bold;
        font-size: 18px;
        width: 90%;
        height: 5rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        margin-right: 0.7rem;
        margin-left: 0.7rem;
        padding-top: 0.5rem;
        padding-bottom: 1.2rem;
    }
    
    .UC_form_children select {
        font-size: 16px;
        font-weight: bold;
        width: 90%;
        height: 2.4rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.7rem;
        margin-left: 0.7rem;
    }
   


/* =======================HOUSING======================*/

.UC_form_housing {
    display: flexbox;
    margin: 1rem 1rem 1rem 1rem;
    padding-top: 2rem;
    
    column-gap: 1rem;
    column-count: 1;
    
    
    Width: 25rem;
    height: fit-content;
    background: rgb(180, 212, 212);
    border: 1px solid black;
    
    border: 2px solid black;
    border-radius: 2%;
    box-shadow: inset;
    
    
    
    
}




.UC_form_housing h2 {
    text-align: center;
}

/*============state log================*/

.statelog {
    font-size: 20px;
    margin: 1rem 1rem 1rem 1rem;
    width: 25rem;
    height: auto;
    border: 3px black solid;
    background: rgb(180, 212, 212);
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    
    
}
.statelog h4 {
    margin-left: 2rem;
    
}


.statelog div {
    margin-top: 1rem;
    margin-left: 2rem;
    Color: red;
}

.statelog p {
    margin-left: 2rem;
    color: red;
}