.container {
    background: rgb(204, 237, 218);
    font-weight: bold;
    display: flex;
    flex-direction: row;
 
    margin: 0.3rem 3rem 0.3rem 3rem;
    border-radius: 5%;
    height: 1.8rem;
    width: 8rem;
}
.heading {
    font-size: 11px;;
    text-align: center;
}
.income_label {
    font-size: 10px;
    font-weight: bold;
    display: flex;
    height: 1.5rem;
    width: 7rem;
    margin-top: 0.5rem;
}
.income_p {
    display: flex;
    margin-left: 1rem;
    margin-top: 0.5rem;
    height: 1.5rem;
}