.container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 15rem;
    height: 30rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid black;
    border-radius: 5px;
}

.label_amount {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 1rem 1rem 1rem 1rem;
    width: 90%;
    height: 2.5rem;
    border: 1px solid black;
}

.label_p {
    margin-left: 2rem;
    color: red;
}