.container {
    display: flex;
    flex-direction: column;
    background: rgb(251, 245, 245);
    width: 10rem;
    height: 90%;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 5px;
}
.heading {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}
.label_amount {
    font-size: 10px;
    background: rgb(217, 244, 250);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 7rem;
    height: 2.2rem;
    border-radius: 5%;
}

.housing_container {
    display: flex;
    flex-direction: column;
}

.housing_label {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    background: rgb(217, 244, 250);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    
    width: 8rem;
    height: auto;
    border-radius: 5%;

}
.label_p {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    color: red;
    height: 1.5rem;
    width: 2.6rem;
}
.housing_p {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    color: red;
    height: 1.5rem;
    width: 2.6rem;
}
.NDD_list {
    display: flex;
    height: auto;
    flex-direction: column;
}


.children_container {
    font-size: 10px;
    font-weight: bold;;
    display: flex;
    flex-direction: column;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    height: auto;
    width: 7rem;
    background: whitesmoke;
    border-radius: 5px;
}
.heading_children {
    margin-left: 1rem;
    font-size: 11px;
    text-align: center;
}

.children_sub_container {
    display: flex;
    flex-direction: row;
}
.label_children {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 7rem;
    margin-left: 0.3rem;
    
}
.p_children {
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    color: red;
}

