.container {
    display: flex;
    flex-direction: column;
    background: rgb(251, 245, 245);
    width: 18rem;
    height: 50rem;
    margin: 1rem 1rem 1rem 1rem;
    
    border-radius: 5px;
}

.label_amount {
    font-size: 13px;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 80%;
    height: 2.8rem;
    border-radius: 5%;
}

.housing_container {
    display: flex;
    flex-direction: column;
}

.housing_label {
    text-align: center;
    font-size: 13px;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 80%;
    height: auto;
    border-radius: 5%;

}
.housing_p {
    margin-left: 2rem;
    margin-right: 2rem;
    color: red;
}
.NDD_list {
    display: flex;
    height: auto;
    flex-direction: column;
}

.label_p {
    margin-left: 2rem;
    margin-right: 2rem;
    color: red;
}
.children_container {
    font-weight: bold;;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    background: whitesmoke;
    border-radius: 5px;
}
.heading_children {
    text-align: center;
}

.children_sub_container {
    display: flex;
    flex-direction: row;
}
.label_children {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 5rem;
    margin-left: 1rem;
    
}
.p_children {
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    color: red;
}

