.container {
    position: relative;
    display: column;
    flex-direction: row;
    background: white;
    width: 90%;
    height: 12rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid black;
    border-radius: 5px;
}

.heading {
    text-align: center;
}
.sub_container {
   display: flex;
   flex-direction: row;
}

.select_type {
    display: flex;
    width: 10rem;
    height: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    

}
.select_amount {
    display: flex;
    width: 4rem;
    height: 1.7rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.select_freq {
    display: flex;
    width: 6rem;
    height: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.rates_label {
    display: flex;
    font-weight: bold;
    width: 90%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
}
.rates_input {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 5rem;
}
.rates_freq {
   display: flex;
   width: 6rem;
   
}