.component_container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    padding-top: 2rem;
    column-gap: 1rem;
    column-count: 1;
    Width: 25rem;
    height: fit-content;
    background: rgb(180, 212, 212);
    border-radius: 2%;

}





.localstatelog_container {
    display: flex;
    font-weight: bold;;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
    height: auto;
    background-color: whitesmoke;
}
.stateLabel {
    display: flex;
    margin-left: 1rem;

}

.stateP {
    color: red;
    margin-left: 1rem;
}