.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 9rem;
    height: auto;
    margin: 1rem 0.3rem 0.3rem 0.3rem;
    border: 2px solid black;
    border-radius: 5px;
}
.heading {
    font-size: 11px;
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
}
.dropdown_label {
    font-size: 10px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 2.2rem;
    width: 90%;
    margin: 0.6rem 0.3rem 0.8rem 0.3rem;
}
.dropdown_labelB {
    font-size: 10px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 2.2rem;
    width: 90%;
    margin: 0.6rem 0.3rem 0.6rem 0.3rem;
}
.dropdown_select {
    display: flex;
    flex-direction: column;
    height: 2.4rem;
    width: 90%;
    margin: 0.6rem 0.3rem 0.6rem 0.3rem;
    
}
.checkbox_label {
    font-size: 10px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 90%;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;

}
.checkbox_input {
    display: flex;
    flex-direction: row;
    width: 1rem;
    height: 1rem;
    margin-left: 0.3rem;

}
.dropdown_childcare {
   margin: 0.3rem 0.3rem 0.3rem 0.3rem
}
.childcare_label {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 0.3rem 0.3rem 0.3rem 0.6rem;
}
.childcare_label_disabled {
    font-size: 10px;
    color: rgb(168, 166, 166);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 0.3rem 0.3rem 0.3rem 0.6rem;
}

.input_childcare {
    display: flex;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}
.warning_container {
    font-size: 10px;
    display: flex;
    color: red;
    font-weight: bold;
    margin: 0.5rem 1rem 4rem 1rem;
    height: 2rem;
    width: 90%;

}