.container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 80%;
    height: 4rem;
    margin: 1rem 0.3rem 0.3rem 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.TA_label {
    font-size: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 90%;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
  
}
.TA_select {
    display: flex;
    flex-direction: column;
    height: 1.5rem;
    width: 90%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    
    
}