.container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 80%;
    height: 6rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.TA_label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 90%;
    margin-left: 1rem;
    margin-top: 1rem;
  
}
.TA_select {
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    
}