


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 80%;
    height: 30rem;
   
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.sub_container {
    margin: 0 0 0 0;
}

.heading {
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
}
.dropdown_label {
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 90%;
    margin: 1rem 0rem 2rem 1rem;
}
.dropdown_label_grey {
    color: rgb(168, 166, 166);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 90%;
    margin: 1rem 0rem 2rem 1rem;
}

.dropdown_select {
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 90%;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    
}

.dropdown_select_grey {
    color: grey;
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 90%;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    
}

.checkbox {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    height: 20px;
    width: 20px;
}

.checkbox_container {
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 3rem;
    margin: 0.2rem 0.2rem 0.2rem 1rem
}
.checkbox_container_disabled {
    color: rgb(168, 166, 166);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 3rem;
    margin: 0.2rem 0.2rem 0.2rem 1rem
}
.checkbox_label {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 16rem;
}



.checkbox_input {
    display: flex;
    flex-direction: row;
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;

}