.header {
  display: flex;
  width: 90%;
  height: 4rem;
  background: blanchedalmond;
  margin: 2rem 2rem 2rem 4rem;
  border-radius: 5px;
  box-shadow: inset;
  border: 3px solid transparent;
}
.container {
  display: flex;
  background-color: antiquewhite;
  margin: 2rem 2rem 2rem 4rem;
  height: 30rem;
  width: 90%;
  border-radius: 5px;
  box-shadow: inset;
  border: 3px solid transparent;
}