.header {
  display: flex;
  width: auto;
  height: 4rem;
  background: rgb(235, 233, 229);
  margin: 2rem 2rem 2rem 4rem;
  border-radius: 5px;
  box-shadow: inset;
  border: 3px solid transparent;
}
.container {
  display: flex;
  background-color: rgb(235, 233, 229);
  margin: 2rem 2rem 2rem 4rem;
  height: 40rem;
  width: auto;
  border-radius: 5px;
  box-shadow: inset;
  border: 3px solid transparent;
}