.container {
    position: relative;
    display: column;
    flex-direction: row;
    background: white;
    width: 90%;
    height: 25rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.btn_reset {
    font-weight: bold;
    background: rgb(244, 216, 244);
    margin-left: 2rem;
    border-radius: 5%;
}
.btn_reset:hover {
    font-weight: bold;
    background: rgb(204, 134, 204);
    margin-left: 2rem;
    border-radius: 5%;
}
.heading {
    text-align: center;
}
.select_warning {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: red;
}
.WA_label {
    display: flex;
    width: 90%;
}
.WA_select {
    justify-content: center;
    display: flex;
    width: 60%;
    height: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}



