.container {
    position: relative;
    display: column;
    flex-direction: row;
    background: white;
    width: 90%;
    height: 25rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid black;
    border-radius: 5px;
}

.heading {
    text-align: center;
}





