.container {
    position: relative;
    display: column;
    flex-direction: row;
    background: white;
    width: 90%;
    height: 25rem;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    border: 2px solid black;
    border-radius: 5px;
}
.btn_reset {
    display: flex;
    height: 1.4rem;
    width: 3rem;
    font-size: 10px;
    font-weight: bold;
    background: rgb(244, 216, 244);
    margin-left: 0.6rem;
    padding: 0.2rem;
    border-radius: 5%;
}
.btn_reset:hover {
    font-weight: bold;
    background: rgb(204, 134, 204);
    margin-left: 2rem;
    border-radius: 5%;
}
.heading {
    text-align: center;
    font-size: 11px;
}
.select_warning {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: red;
}
.WA_label {
    display: flex;
    width: 10rem;
    height: 1.6rem;
}
.WA_select {
    font-size: 10px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    width: 8.5rem;
    height: 1.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}



