.container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 80%;
    height: 20rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.warning_container {
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    width: 5rem;
    height: 3rem;
}

.warning {
    display: flex;
    color: red;
    width: 10rem;
    height: auto;

    
}

.dropdown_label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 90%;
    padding: 1rem 1rem 1rem 1rem;
}

.dropdown_select {
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 90%;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    
}